<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RootPath" value="C:\Local3eDev\3E_27" />
    <add key="FrameworkStaging" value="Inetpub\Staging" />
  </appSettings>

  <connectionStrings>
    <add name="Old25Instance" connectionString="server=myoldserver\instance1;database=TE_3E_Live25;Integrated Security=True;Application Name=UpdatePresentations;" />
  </connectionStrings>
</configuration>
